@model Hotel_Management_System.Models.EventReservation

<h2>Delete EventReservation</h2>

<h3>Are you sure you want to delete this reservation?</h3>
<div>
    <h4>Check-in Date: @Model.CheckInDate.ToShortDateString()</h4>
    <h4>Check-in Date: @Model.CheckOutDate.ToShortDateString()</h4>
    <h4>Check-in Date: @Model.Events</h4>
    <h4>Check-in Date: @Model.EventPlace</h4>
    <h4>Check-in Date: @Model.NumberOfAdults</h4>
    <h4>Check-in Date: @Model.NumberOfChildren</h4>
    <h4>Check-in Date: @Model.HallType</h4>
</div>


<form asp-action="DeleteEventReservation">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button> | <a asp-action="Index">Back to List</a>
</form>